:root{
  --background: #1a1a1a;
  --background-loader: rgba(255, 255, 255, 0.15);
  --color: #FFF;
}

html[data-theme="light"]{
  --background: #ffffff;
  --background-loader: rgba(0, 0, 0, 0.15);
  --color: #000000;
}

body{background-color: var(--background);}

/*LOADER BY: https://cssloaders.github.io*/
.loader {
  width: 40%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: var(--background-loader);
  overflow: hidden;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 1.5s ease-in-out forwards;
}

@keyframes animFw {
  0% {width: 0;}
  100% {width: 100%;}
}

/*END LOADER*/
@keyframes FadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.logo {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to right, #ffc400, #ff9100, #ff530f, #e62c6d, #e62c6d, #ff530f, #ff9100, #ffc400);
  background-size: 200% auto;
  animation: gradient 1s linear infinite;
  -webkit-mask-image: url('../assets/_gear.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url('../assets/_gear.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  display: inline-block;
}

.logoMacOS{
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

@keyframes gradient {
  95% {background-position: 200% center}
  100%{background-position: 204% center;}
}