:root{
  --background: #1a1a1a;
  --color: #FFF;
  --input-background: #3d3d3d;
}

html[data-theme="light"]{
  --background: #ffffff;
  --color: #000000;
  --input-background: #adadad;
}

body {
    background-color: var(--background);
    font-family: 'Switzer', sans-serif;
}

h1, h3{
    color: var(--color);
    font-family: 'Switzer', sans-serif;
    text-align: center;
}

h1{
    font-family: 'General Sans', sans-serif;
    font-size: 70px;
    line-height: 1.2;
}

.special{
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(to right, #ffc400, #ff9100, #ff530f, #e62c6d, #b25aff, #b25aff, #e62c6d, #ff530f, #ff9100, #ffc400);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 8s linear infinite;
}

@keyframes gradient {to {background-position: 200% center}}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--input-background);
    color: var(--color);
    font-size: 15px;
    font-family: 'Switzer', sans-serif;
}

input:focus {
    outline: none;
    animation: animationInput 2s ease-in-out infinite;
}

@keyframes animationInput{
    0%{
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0);
    }
    50%{
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }
    100%{
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0);
    }
}

button{
    align-self: flex-end; 
    padding: 10px 15px;
    width: 82%;
    border: none;
    border-radius: 5px;
    background: #009dff;
    color: var(--color);
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: 'Switzer', sans-serif;
    margin-left: 90px;
    margin-top: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    gap: 10px;
}

@keyframes FadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes FadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#warn{
    color: white;
    font-family: 'Switzer', sans-serif;
    text-align: center;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    gap: 5px;
    width: 100%;
    margin: 10 auto;
}