:root{
  --background: #1a1a1a;
  --color: #fff;
  --input-background: #3d3d3d;
  --input-focused: #292929;
}

html[data-theme="light"]{
  --background: #ffffff;
  --color: #000000;
  --input-background: #adadad;
  --input-focused: #b6b6b6;
}

body{
  margin: 0;
  padding: 20px;
  font-family: 'Switzer', sans-serif;
  background: var(--background);
  color: var(--color);
  overflow: hidden;
}

html[data-theme="light"] img{filter: invert(1) brightness(0.8) contrast(1);}
html[data-theme="dark"] img{filter: none;}

input {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background: var(--input-background);
  color: var(--color);
  font-size: 15px;
  font-family: 'Switzer', sans-serif;
  flex: 1; 
}

input:focus {
  outline: none;
  animation: animationInput 2s ease-in-out infinite;
  border: 2.5px solid transparent;
  background: 
      linear-gradient(var(--input-focused), var(--input-focused)) padding-box,
      linear-gradient(to right, #ffc400, #ff9100, #ff530f, #e62c6d, #b25aff, #b25aff, #e62c6d, #ff530f, #ff9100, #ffc400) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 80%;
  background-size: 400% auto;
  animation: gradient 15s linear infinite;
}

button {
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  color: var(--color);
  cursor: pointer;
  font-size: 18px;
  width: 10%;
  font-family: 'Switzer', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modify-task-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.special{
  -webkit-text-fill-color: transparent; 
  background-image: linear-gradient(to right, #ffc400, #ff9100, #ff530f, #e62c6d, #b25aff, #b25aff, #e62c6d, #ff530f, #ff9100, #ffc400);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {to {background-position: 400% center}}

@keyframes FadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes FadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/*LOADER BY: https://cssloaders.github.io*/
.loader {
  width: 360px;
  height: 100px;
  display: flex;
  position: relative;
  background-image: linear-gradient(100deg, transparent, rgba(38, 50, 56, 0.5) 50%, transparent 80%), linear-gradient(#898989 20px, transparent 0), linear-gradient(#898989 20px, transparent 0), linear-gradient(#898989 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 100px,  125px 20px, 260px 20px, 260px 20px;
  background-position: 0% 0, 120px 0, 120px 40px, 120px 80px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: #898989;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animloader {
  0% {background-position: 0% 0, 120px 0, 120px 40px, 120px 80px;}
  100% {background-position: 100% 0, 120px 0, 120px 40px, 120px 80px;}
}

/*BUTTONS ANIMATIONS*/
.deleteBtn:focus, .closeBtn:focus{
  outline: none;
  animation: animRedIn 2s ease-in-out infinite;
}

.editBtn:focus{
  outline: none;
  animation: animButtonIn 2s ease-in-out infinite;
}

@keyframes animRedIn{
  0%{
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0);
  }
  50%{
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
  }
  100%{
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0);
  }
}

@keyframes animRedOut{
  0%{
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
  }
  100%{
    border-color: #ff0000;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0);
  }
}

@keyframes animButtonIn{
  0%{
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0);
  }
  50%{
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  100%{
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0);
  }
}

@keyframes animButtonOut{
  0%{
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  100%{
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0);
  }
}

label{color: var(--color);}